.bg-name{
    background: #c8c10d;
}

.bg-name h3{
    color: #fff;
    padding: 30px;
    text-align: center;
    font-family: LatoR;
    font-size: 30px;
    font-weight: 400;
}

#block1 {
    float: left;
    width: 25%;
    margin-top: 70px;
    margin-bottom: 100px;
    background-color: #eae7e8;
    height: 600px;
    width: 30%;
}

#block1 h2 {
    margin-top: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: #cb3362;
}

#block1 a{
    color: #cb3362;
}

#block1 #p1 {
    text-align: center;
    font-size: 20px;
    color: #cb3362;
}

.block2 p{
    color: #cb3362;
}

.block {
    padding: 20px;
}

.block2 {
    padding: 70px;
    margin-left: 50px;
    font-size: 15px;
}

.block2 a {
    color: #cb3362;
}

.block2 h2 {
    color: #cb3362;
}

